*{
    margin: 0px;
    padding: 0px;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.container{
    width: 25%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-container{
    width: 80%;
    height: 90%;
}
tr{
    width: 100%;

}
button:active{
    background-color: whitesmoke;
}
input{
    width: 100%;
    height: 70%;
    /* border: 0px; */
}
button{
    width: 100%;
    height: 100%;
    background-color: white;
    border:none;
    cursor: pointer;
}
.call-container{
    width: 100%;
    height: 60%;
    background-color: rgb(13, 255, 13);
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-icon{
    color: white;
   /* width: 50px; */
}
.input-container{
    font-size: 30px;
    color: rgb(17, 0, 255);
    /* text-align: center; */
}

@media screen and (max-width:800px) {
 .container{
     width: 80%;
 }   
}
@media screen and (max-width:1350px) and (min-width:800px){
    .container{
        width: 40%;
    }   
   }